<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<div class="footer-video">
    <div class="footer-right-video">
        <h4><?php echo __('Watch Video') ?></h4>
        <img alt="123" height="40px"
             src="<?php echo $this->getViewFileUrl('Personal_Information::image/autumn.jpeg'); ?>"/>
    </div>
    <div class="footer-right-subscribe">
        <h4><?php echo __('Subscribe Newsletter') ?></h4>
        <p>how about you!</p>
    </div>
</div>
