<div class="footer-middle">
    <div class="quickMenu">
        <h4>Quick Menu</h4>
        <ul class="quickMenu-left">
            <li><a href="#">Home</a></li>
            <li><a href="#">Matchs</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Team</a></li>
        </ul>
        <ul class="quickMenu-right">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contacts Us</a></li>
            <li><a href="#">Membership</a></li>
        </ul>
    </div>
    <div class="followUs">
        <h4>Follow Us</h4>
        <a href="#">fb</a> |
        <a href="#">twitter</a> |
        <a href="#">inta</a> |
        <a href="#">linked in</a>
    </div>
</div>
