<div class="footer-left">
    <div class="footer-left-aboutIntern">
        <h4><?php echo __('About Intern') ?></h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur
        </p>
        <p>
            adipisicing elit. Saepe pariatur reprehenderit vero atqua!
        </p>
    </div>
    <div class="footer-left-recentPodcast">
        <h4><?php echo __('Recent podcast') ?></h4>

        <div class="title-1">
            <img alt="123" height="40px" src="<?php echo $this->getViewFileUrl('Personal_Information::image/autumn.jpeg'); ?>" />
                Lorem is coming
        </div>
        <div class="title-2">
            <img alt="123" height="40px" src="<?php echo $this->getViewFileUrl('Personal_Information::image/autumn.jpeg'); ?>" />
                Lorem is coming
        </div>
    </div>
</div>
