<table>
    <tr>
        <td>Image:</td>
        <td>
            <img class="img-fluid" height="300" src="<?php echo $this->getViewFileUrl('Personal_Information::image/anh_ca_nhan.jpg'); ?>" />
        </td>
    </tr>
    <tr>
        <td>
            Full name:
        </td>
        <td>
            Lê Duy Dương
        </td>
    </tr>
    <tr>
        <td>Age:</td>
        <td>23</td>
    </tr>
    <tr>
        <td>
            Date of birth
        </td>
        <td>
            06/06/1997
        </td>
    </tr>
    <tr>
        <td>Description</td>
        <td>
            Vui tính dễ gần hoà đồng (chưa kể đẹp trai ngoan hiền và vẫn còn FA)
        </td>
    </tr>
</table>
