.footer-left {
    float: left;
}

.footer-middle {
    float: left;
    margin-left: 35px;
}

.category-view {
    float: left;
    margin-left: 35px;
}

.footer.content .block {
    float: none;

    &.newsletter {
        max-width: 100%;
    }
}


.quickMenu-left {
    float: left;
}

.quickMenu-right {
    float: left;
}

.block .newsletter .block {
    float: none;
}
